:root {
    --ff-deca: "Lexend Deca", sans-serif;
    --ff-big-shoulders: "Big Shoulders Display", sans-serif;
  
    --fw-regular: 400;
    --fw-bold: 700;
  
    --fs-par: 0.9375rem;
    --fs-h2: 2rem;
  
    /* Primary */
    --clr-bright-orange: hsl(31, 77%, 52%);
    --clr-dark-cyan: hsl(184, 100%, 22%);
    --clr-vdark-cyan:hsl(179, 100%, 13%);
    
    /* Neutral */
    --clr-vlight-gray: hsla(0, 0%, 100%, 0.75);
    --clr-t-white: hsl(0, 0%, 95%);

}
  
/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.6;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


body {
    background-color: var(--clr-vlight-gray);
    color: var(--clr-t-white);
    font-size: var(--fs-par);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.card-wrapper{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 1rem;
    max-width: 20rem;
}

.orange-card-borders {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.vdark-cyan-card-borders {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}




.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 3rem;
    row-gap: 1rem;
}

.card-color-orange {
    background-color: var(--clr-bright-orange);
}

.card-color-dark-cyan {
    background-color: var(--clr-dark-cyan);
}

.card-color-vdark-cyan{
    background-color: var(--clr-vdark-cyan);
}


.card__car-text {
    font-family: var(--ff-deca);
    font-size: var(--fs-par);
    font-weight: var(--fw-regular);
    color: var(--clr-vlight-gray);
}

.card__car-title {
    font-family: var(--ff-big-shoulders);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

.card__read-more {
    text-decoration: none;
    background-color: var(--clr-t-white);
    padding: 0.5em 1.5em;
    border-radius: 1.5rem;
    font-family: var(--ff-deca);
}

.f-color-orange {
    color: var(--clr-bright-orange);
}

.f-color-dark-cyan {
    color: var(--clr-dark-cyan);
}

.f-color-vdark-cyan {
    color: var(--clr-vdark-cyan);
}



@media (min-width:64rem){
    .card-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        max-width: 52rem;
    }

    .orange-card-borders {
        border-bottom-left-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: unset;
    }
    
    .vdark-cyan-card-borders {
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: unset;
    }

    .card__car-text {
        padding-bottom: 4rem;
    }

}


.attribution {
    font-size: 0.68rem;
    text-align: center;
    color: black;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
  }